@model EasywebViewModel
@*     Renders for most static content such as 500/error, 404, 401, etc...  *@

<h1>
    @Model?.Label
</h1>

@if (ViewData["DisplayLogin"] is bool displayLogin && displayLogin == true)
{
    <div id="login">
        <div id="sign-in">
            <form method="post" action="~/authentication/signin">
                <label for="sign-in-username" ew-translate="SignIn_UserName">User name</label>
                <input class="sign-in-username" id="sign-in-username" type="text" name="UserName" />
                <label for="sign-in-password" ew-translate="SignIn_Password">Password</label>
                <input class="sign-in-password" id="sign-in-password" type="password" name="Password" />
                <button type="submit" class="sign-in-btn"><span ew-translate="SignIn_Login">Sign in</span></button>
            </form>
        </div>
    </div>
}

<environment include="Development">
    @if (ViewData["Exception"] != null)
    {
        <div>@ViewData["Exception"]</div>
    }
</environment>

@* Debug message in production can be viewed using the querystring ?debug=true *@
@if (ViewData["DebugMessage"] != null)
{
    @ViewData["DebugMessage"]
}