<section class="standard">
    <div class="content">
        <div class="container hero">
            <h1 ew-for="header"></h1>
            <p ew-for="TextBoxContent"></p>
        </div>
    </div>
</section>