<section class="standard">
    <div class="content">
        <div class="news-list">
            <ew-list for-key="news-list">
                <article class="news-item">
                    <a ew-for-href="$">
                        <div class="image">
                        </div>
                    </a>
                    <div class="text">
                        <h3 ew-for="$label"></h3>
                    </div>
                </article>
            </ew-list>
        </div>
    </div>
</section>