<section class="standard">
    <div class="content">
        <div class="text-image">
            <div class="text">
                <h2 ew-for="header"></h2>
                <p ew-for="TextAreaContent"></p>
                <a class="btn btn-primary" ew-for-href="Link">
                    <span ew-for-label="link"></span>
                </a>
            </div>
            <div class="image">
                <img ew-for-src="image" ew-if-key="image"/>
            </div>
        </div>
    </div>
</section>

